*.json
*.html
*rc.js
*.svg
*.woff
*.ttf
*.css

.nuxt
.husky

.eslintrc.js
.prettierrc.js
package.json
tsconfig.ts
README.md
node_modules
*.sh
*.md
.vscode
.idea
dist
build
/public
/docs
.husky
.local
/bin
Dockerfile